* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #111; /* Dark background */
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
